# Estadística Descriptivas 
- Bases de datos y diccionarios 
- 5-number summary 
- Diagramas de caja e histogramas

### Diccionarios
$$ \{\text{key}: \text{value} \}$$

In [ ]:
alumnos = {"Rodolfo": [20,1.88,2, "tauro", "naranja"],
          "Andrea": [18, 1.70,1, "Escorpión", "azul"], 
          "Rocío": [20, 1.63, 2, "Acuario", "rosa"], 
          "Ariadna": [20, 1.70, 0, "Leo", "blanco"],
          "Mariana": [20, 1.60, 0, "Leo", "negro"]}

In [ ]:
type(alumnos)

dict

In [ ]:
alumnos["Andrea"]

[18, 1.7, 1, 'Escorpión', 'azul']

In [ ]:
import pandas as pd

In [ ]:
dfalumnos = pd.DataFrame(alumnos)
dfalumnos

   Rodolfo     Andrea    Rocío Ariadna Mariana
0       20         18       20      20      20
1     1.88        1.7     1.63     1.7     1.6
2        2          1        2       0       0
3    tauro  Escorpión  Acuario     Leo     Leo
4  naranja       azul     rosa  blanco   negro

In [ ]:
index = ["edad", "altura", "hermanos", "signo", "color"]

dfalumnos = pd.DataFrame(alumnos, index=index)
dfalumnos

          Rodolfo     Andrea    Rocío Ariadna Mariana
edad           20         18       20      20      20
altura       1.88        1.7     1.63     1.7     1.6
hermanos        2          1        2       0       0
signo       tauro  Escorpión  Acuario     Leo     Leo
color     naranja       azul     rosa  blanco   negro

In [ ]:
dfalumnos["Andrea"]

edad               18
altura            1.7
hermanos            1
signo       Escorpión
color            azul
Name: Andrea, dtype: object

In [ ]:
dfalumnos["edad"]

KeyError: ignored

In [ ]:
dfalumnos.iloc[0]

Rodolfo    20
Andrea     18
Rocío      20
Ariadna    20
Mariana    20
Name: edad, dtype: object

In [ ]:
dfalumnos.iloc[0].min()

18

In [ ]:
dfalumnos.iloc[0].max()

20

In [ ]:
dfalumnos.iloc[0].mean()

19.6

In [ ]:
dfalumnos.iloc[1].mean()

1.702

In [ ]:
dfalumnos.describe

<bound method NDFrame.describe of           Rodolfo     Andrea    Rocío Ariadna Mariana
edad           20         18       20      20      20
altura       1.88        1.7     1.63     1.7     1.6
hermanos        2          1        2       0       0
signo       tauro  Escorpión  Acuario     Leo     Leo
color     naranja       azul     rosa  blanco   negro>

In [ ]:
dfalumnos.describe()

        Rodolfo  Andrea  Rocío  Ariadna  Mariana
count         5       5      5        5        5
unique        5       5      5        5        5
top          20      18     20       20       20
freq          1       1      1        1        1

In [ ]:
dfalumnos.iloc[0:3]

         Rodolfo Andrea Rocío Ariadna Mariana
edad          20     18    20      20      20
altura      1.88    1.7  1.63     1.7     1.6
hermanos       2      1     2       0       0

In [ ]:
alumnosdatos = dfalumnos.iloc[0:3]
alumnosdatos

         Rodolfo Andrea Rocío Ariadna Mariana
edad          20     18    20      20      20
altura      1.88    1.7  1.63     1.7     1.6
hermanos       2      1     2       0       0

In [ ]:
alumnosdatos.describe()

        Rodolfo  Andrea  Rocío  Ariadna  Mariana
count       3.0     3.0    3.0      3.0      3.0
unique      3.0     3.0    3.0      3.0      3.0
top        20.0    18.0   20.0     20.0     20.0
freq        1.0     1.0    1.0      1.0      1.0

In [ ]:
dfalumnos.T

        edad altura hermanos      signo    color
Rodolfo   20   1.88        2      tauro  naranja
Andrea    18    1.7        1  Escorpión     azul
Rocío     20   1.63        2    Acuario     rosa
Ariadna   20    1.7        0        Leo   blanco
Mariana   20    1.6        0        Leo    negro

In [ ]:
dfalumnos.T.describe()

        edad  altura  hermanos signo    color
count      5     5.0         5     5        5
unique     2     4.0         3     4        5
top       20     1.7         2   Leo  naranja
freq       4     2.0         2     2        1

In [ ]:
dfalumnos.T["edad"]

Rodolfo    20
Andrea     18
Rocío      20
Ariadna    20
Mariana    20
Name: edad, dtype: object